body{
    background-color: rgb(210, 248, 245);
}
#wejscie{
    font-size: 100px;font-weight: 900;
    text-align: center;background-image:url(https://assets.tmecosys.com/image/upload/t_web_rdp_recipe_584x480_1_5x/img/recipe/ras/Assets/48a49653c8716457eb0b2f7eb3c7d74c/Derivates/8d83d9ed4567fa15456d8eec7557e60006a15576.jpg);
}